<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>contextprice1</param-name>
        <param-value>2</param-value>
    </context-param>
    <context-param>
        <param-name>contextprice2</param-name>
        <param-value>4</param-value>
    </context-param>
    <context-param>
        <param-name>contextprice3</param-name>
        <param-value>5</param-value>
    </context-param>
    <context-param>
        <param-name>link</param-name>
        <param-value>report2.html</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>report2.html</param-value>
    </context-param>
    <listener>
        <listener-class>Listenerreport2</listener-class>
    </listener>
    <servlet>
        <servlet-name>shoppingservlet</servlet-name>
        <servlet-class>shoppingservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>report2</servlet-name>
        <servlet-class>report2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Source2</servlet-name>
        <servlet-class>Source2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shoppingservlet</servlet-name>
        <url-pattern>/shoppingservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>report2</servlet-name>
        <url-pattern>/report2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Source2</servlet-name>
        <url-pattern>/Source2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
