<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>link</param-name>
        <param-value>report2.html</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>report2.html</param-value>
    </context-param>
    <context-param>
        <param-name>contextprice1</param-name>
        <param-value>2</param-value>
    </context-param>
    <context-param>
        <param-name>contextprice2</param-name>
        <param-value>4</param-value>
    </context-param>
    <context-param>
        <param-name>contextprice3</param-name>
        <param-value>5</param-value>
    </context-param>
    <listener>
        <listener-class>lianas.Listenerreport</listener-class>
    </listener>
    <servlet>
        <servlet-name>Sourceservlet</servlet-name>
        <servlet-class>lianas.Sourceservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>report</servlet-name>
        <servlet-class>lianas.report</servlet-class>
        <init-param>
            <param-name>param2</param-name>
            <param-value>report2.html</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Cookieservlet</servlet-name>
        <servlet-class>lianas.Cookieservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sourceservlet</servlet-name>
        <url-pattern>/Sourceservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookieservlet</servlet-name>
        <url-pattern>/Cookieservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
